/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: header */
.header {
  width: 100%;
  /*background: #69975B;*/
  background: #3e444e;
}
.nav a {
  color: #fff;
  text-decoration: none;
}
.title {
  font-size: 18px;
  line-height: 40px;
  margin-right: 20px;
}
.nav li {
  float: left;
  height: 40px;
  line-height: 40px;
  border-left: 1px solid #343944;
}
.nav li a {
  display: block;
  padding: 0 15px;
}
.nav .br1 {
  border-right: 1px solid #343944;
}
.nav img {
  display: inline;
  width: 18px;
  height: 18px;
  border-radius: 1px;
  vertical-align: middle;
  margin: -3px 2px 0 0px;
  background-size: cover;
  background-position: 50% 50%;
}
.addlink {
  margin-top: -20px;
  padding: 10px;
  display: none;
}
.addlink label {
  width: 80px;
  height: 40px;
  line-height: 40px;
  display: block;
  float: left;
  font-family: 'Open Sans',sans-serif,arial,Simsun,nanum gothic,dotum !important;
  letter-spacing: 0 !important;
  color: #7F7F7F;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 40px;
}
.txt-field {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #F9F9F9;
  border-color: #C6C6C6 #EEEEEE #EEEEEE #C6C6C6;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 18px;
  padding: 7px 0 0 12px;
  vertical-align: top;
  width: 650px;
}
.url-cancel {
  background-color: #6eaa53;
}
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: default */
.item {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px 0;
}
.feedtitle {
  font-size: 14px;
  font-weight: bold;
}
.feeduser {
  margin-top: 5px;
}
.feeduser a {
  color: #999;
}
.item .vote {
  background: #F0C785;
  width: 50px;
  height: 50px;
  text-align: center;
}
.item .vote .num {
  display: block;
  font-size: 20px;
  line-height: 24px;
  padding-top: 5px;
  color: #fff;
}
.item .vote .describe {
  color: #fff;
  display: block;
}
.item .vote a {
  text-decoration: none;
}
.item .main {
  width: 535px;
}
.header_info{
  width: 100%;
  padding: 10px 0 0 0; 
}
.header_info ul{
  width: 90%;
  height: auto;
  margin: auto;
}
.header_info img{
  float: left;
  vertical-align: middle;
  margin-right: 10px;
}
.header_info li{
  padding: 10px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: add bookmark */
.edit label {
  width: 70px;
  height: 40px;
  line-height: 40px;
  display: block;
  float: left;
  font-family: 'Open Sans',sans-serif,arial,Simsun,nanum gothic,dotum !important;
  letter-spacing: 0 !important;
  color: #7F7F7F;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 40px;
}
.edit .input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #F9F9F9;
  border-color: #C6C6C6 #EEEEEE #EEEEEE #C6C6C6;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  height: 29px;
  line-height: 27px;
  padding: 7px 0 0 12px;
  vertical-align: top;
  width: 358px;
}
.edit .private {
  margin-top: 15px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: add bookmark */
.list-wrapper {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 0 2px rgba(0,0,0,0.06),0 0 0 1px rgba(0,0,0,0.04),0 -1px 0 0 rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 0 2px rgba(0,0,0,0.06),0 0 0 1px rgba(0,0,0,0.04),0 -1px 0 0 rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 0 2px rgba(0,0,0,0.06),0 0 0 1px rgba(0,0,0,0.04),0 -1px 0 0 rgba(0,0,0,0.05);
}
.list-wrapper .username {
  color: #383d48;
  font-size: 16px;
  font-weight: bold;
}
.list-title {
  color: #606a79;
  font-size: 13px;
  line-height: 38px;
  text-shadow: 0 1px 0 #fff;
  background: #f6f7f8;
  border-bottom: 1px solid #dadde1;
  border-radius: 3px 3px 0 0;
  padding: 2px 0 0 15px;
}
.list-title .count {
  font-size: 11px;
  color: #888f98;
  font-weight: normal;
}
.list-title .new-list, .list-title .edit-list {
  top: 16px;
  right: 15px;
  font-size: 11px;
  color: #808791;
  text-shadow: 0 1px 0 #fff;
}
.home-list {
  padding: 2px 15px 5px;
}
.home-list li {
  position: relative;
  padding: 12px 10px 9px 0px;
  border-top: 1px solid #e9eaed;
}
.home-list .bt0 {
  border-top: 0px;
}
.home-item {
  border-top: 1px solid #ebebeb;
}
.home-item .feedtitle {
  line-height: 40px;
}
.addtime {
  font-weight: normal;
  font-size: 12px;
}
.new-list-input {
  padding: 5px 15px;
  display: none;
}
.new-list-input .btn{
  width: 50px;
  font-size: 12px;
  height: 30px;
  line-height: 20px;
  padding: 5px;
}
.new-list-name {
  height: 30px;
  width: 130px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: edit list */
.edit-lists {
  margin: 10px 0;
}
.edit-lists .input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #F9F9F9;
  border-color: #C6C6C6 #EEEEEE #EEEEEE #C6C6C6;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  height: 29px;
  line-height: 27px;
  padding: 7px 0 0 12px;
  vertical-align: top;
  width: 358px;
}
.edit-lists .update, .delete {
  background: none repeat scroll 0 0 #588CC7;
  border: 0 none;
  color: #FFFFFF;
  font-size: 12px;
  overflow: visible;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  margin:0px 3px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: follow */
.unfollow {
  display: block;
  background: #00a1cb;
  color: white;
  text-shadow: none;
  line-height: 32px;
  font-weight: 300;
  font-size: 14px;
  text-shadow: 0 1px 1px white;
  text-decoration: none;
  text-align: center;
}
.following {
  display: block;
  background: #7db500;
  color: white;
  text-shadow: none;
  line-height: 32px;
  font-weight: 300;
  font-size: 14px;
  text-shadow: 0 1px 1px white;
  text-decoration: none;
  text-align: center;
}
.follow-num {
  display: block;
  font-size: 16px;
  text-align: center;
}
.w121 {
  width: 101px;
  margin: 0 auto;
  margin-top: 10px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: favorite */
.favorite-title {
  font-size: 20px;
  margin-bottom: 20px;
}
.favorite-people li {
  float: left;
}
.favorite-person {
  height: 30px;
  font-size: 16px;
  padding: 5px;
  border: 2px solid #fff;
}
.favorite-person span {
  margin-left: 10px;
  display: block;
  line-height: 30px;
  float: left;
}
.favorite-person-hover {
  border: 2px solid #FDA316;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: bookmarklet */
.bookmarklet {
  background-color: #626262;
  border: 1px solid #626262;
  border-radius: 8px 8px 8px 8px;
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Lucida Grande',Verdana,sans-serif;
  font-size: 11px;
  font-weight: bold;
  min-width: 62px;
  padding: 0 7px 1px;
  text-align: center;
  text-shadow: 1px 1px 0 #3B3B3B;
  vertical-align: 2px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: signin */
.signin {
  margin-top: 50px;
}
.sina_login {
  margin-top: 20px;
}
.sina_login a{
  margin: 0 auto;
  display: block;
  width: 223px;
  height: 18px;
  background-color: #DD4F2A;;
  color: #fff;
  -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  padding: 6px 8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 11px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing: ease-out;
  -o-transition-duration: 0.3s;
  -o-transition-timing: ease-out;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing: ease-out;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing: ease-out;
  transition-duration: 0.3s;
  transition-timing: ease-out;
  text-decoration: none;
}
.sina_login span {
  display: block;
  margin: 0 auto;
  width: 60px;
  background: url("http://meiweisq.com/static/img/tp/sina_logo.png") no-repeat left center;
  padding: 0 0 0 30px;
}
.signin h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: jiathis */
.jiathis_style a {
  font-size: 12px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: header */
.footer {
  padding: 20px;
}
.footer .w960 {
  /*border-top: 1px solid #9f824a;*/
  height: 20px;
}
.footer ul {
  margin-top: 10px;
}
.footer .icp {
  margin: 10px 0 0 0;
  font-size: 12px;
}
.footer a {
  color: #000;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: about */
.about {
  margin-top: 20px;
  font-size: 14px;
}
.about ul {
  list-style: circle;
}
.about li {
  margin: 10px 0;
}

