{% extends 'layouts/base.html' %}

{% block content %}

{% load pagination_tags %}
{% autopaginate bookmarks 25 %}

<div class='container clearfix'>
  <div class='span3 fl'>
    <div class='bookmarks-feed list-wrapper'>
      <h3 class='list-title clearfix'>书签流</h3>
      <ul class='home-list'>
        <li class='bt0'>
          朋友的书签
        </li>
<!--         <li>
          <a href="/home/">顶过的书签</a>
        </li> -->
      </ul>
    </div>

    <div class='bookmarks-feed list-wrapper mt20'>
      <h3 class='list-title clearfix'>工具</h3>
      <ul class='home-list'>
        <li class='bt0'>
          <a href="/bookmarks/import/">导入书签</a>
        </li>
        <li>
          <a href="/bookmarks/export/">导出书签</a>
        </li>
        <li>
          <div>
            <p>拖动下面的按钮到书签栏</p>
            <a class='bookmarklet' href="javascript:(function(){ var url = document.location; if(!url) throw(0); location.href='http://127.0.0.1:8000/addurl?url=' + encodeURIComponent(url) }())">收藏到爱书签</a>
          </div>
        </li>
      </ul>
    </div>

    <div class='bookmark-list list-wrapper mt20'>
      <h3 class='list-title clearfix'>
        <div class='fl'>收藏夹</div>
        <a href="/list/" class="edit-list ml40 fl">分类管理</a>
        <a href="#" class="new-list mr20 fr">新建分类</a>
      </h3>
      <div class='new-list-input'>
        <input class='new-list-name'>
        <input type='button' class='p5 new-list-sub btn' value='确定'>
      </div>
      <ul class='home-list ajax-lists'>
        <li class='bt0'>
          <a href="/home/">所有书签</a>&nbsp;<span class='count'>({{ user.bookmarks_count }})</span>
        </li>
      {% for l in user.list_set.all %}
        <li>
          <a href="{% url 'home_list' l.id %}">{{ l.name }}</a>&nbsp;<span class='count'>({{ l.bookmarks }})</span>
        </li>
      {% endfor %}
      </ul>
    </div>

  </div>

 
  <div class='bookmark-list span9 fr'>
  {% for b in bookmarks %}
    <div class='home-item clearfix'>
      <div class='main fl'>
        <div class='feedtitle span8 oh' style='height:40px;'><a target='_blank' href="{{ b.url }}">{{ b.title }}</a></div>
        <div class='feeduser mb10'>
          <span><a href="{% url 'addurl' %}?url={{ b.url }}">收藏</a></span>
          <span><a href="{% url 'bookmark_reply' b.id %}">评论</a></span>
          <span class='ml15'><a href="{% url 'user_index' b.user.id %}">{{ b.user.username }}</a></span>
          <span class='addtime'>{{ b.addtime | date:"M d, Y" }}</span>
          <!-- JiaThis Button BEGIN -->
          <div class='fr' onmouseover="setShare('{{ b.title }} | #爱书签#', ''http://ishuqian.com/bookmark/{{b.id}}/go/'');"> <!--自定义第一个分享标题和链接-->
             <div class="jiathis_style">      
             <a href="http://www.jiathis.com/share/?uid=1789726" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享</a>
             </div>
          </div>
          <!-- JiaThis Button END -->
        </div>
      </div>
    </div>
  {% endfor %}
  {% paginate %}
  </div>

</div>

<script type="text/javascript">
var c = true;
$('.new-list').click(function(){
  $('.new-list-input').toggle(0, function(){
    if (c) {
      $('.new-list').html('取消');
      $('.new-list-name').focus();
      c = false;
    } else {
      $('.new-list-name').val('');
      $('.new-list').html('新建分类');
      c = true;
    };
  });
});

//新建分类
var is = true;
$('.new-list-sub').click(function(){
  var name = $('.new-list-name').val();
  if (!name) {alert('请输新分类名称')};
  if (is) {
    $.post('/list/new/', {'name': name}, function(data){
      is = false;
      if (data.error) {
        alert(data.status)
      } else {
        $('.ajax-lists').append('<li><a href="/home/list/' + data.value + '/">' + data.name + '</a>&nbsp;<span class="count">(0)</span></li>');
        var obj = document.getElementById("select-list");
        obj.add(new Option(data.name,data.value)); 
        //$('.select-list').append('<option value=' + data.value + '>' + data.name + '</option>');
        $('.new-list').click();
      };
      is = true;
    }, 'json');
  }
});
</script>
<!--单页面使用多分享按钮需要增加的分享参数代码-->                       
<script type="text/javascript">
function setShare(title, url) {
  jiathis_config.title = title;
  jiathis_config.url = url;
}
var jiathis_config = {
  appkey: {
    'tsina': 3120994132
  }
}
</script>  
<!--分享参数代码结束-->
<!--分享功能代码统一放到页尾-->
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1789726" charset="utf-8"></script>
<!--分享功能代码结束-->
{% endblock %}