<div class="footer">
  <div class='container w960 clearfix'>
    <div class='icp'>© 2013－{% now "Y" %} baiwale.com, all rights reserved&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:talk@baiwale.com">联系我们</a></div>
  </div>
  <div style='display: none;'>
    <script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fba238b4d1a02a24f417ead802582713a' type='text/javascript'%3E%3C/script%3E"));
    </script>
  </div>
</div>