<!DOCTYPE html>
<html>
<head>
  <title>爱书签{% block title %}{% endblock %}</title>
  <meta charset='utf-8'>
  <meta name="keywords" content="书签收藏, 书签分享, 社会化阅读, 爱书签, 书签, 阅读" />
  <meta name="description" content="爱书签是一个发现、收集、分享以及内容挖掘为主的云书签服务。" />
  <meta name="author" content="Baiwale">
  <meta name="Copyright" content="Baiwale.com">
  <meta name="Publisher" content="DingYi">
  <meta content="All" name="Robots">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/css/layouts.css">
  <script type="text/javascript" src='/static/js/jquery.js'></script>
  <script type="text/javascript" src='/static/js/main.js'></script>
  {% block static %}
  {% endblock %}
</head>
<body>
  {% include 'layouts/_header.html' %}

  {% block content %}
  {% endblock %}

  {% include 'layouts/_footer.html' %}
</body>
</html>